li {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  background: plum;
  max-width: 45vw;
  max-height: 45vh;
  justify-content: space-between;
  margin: 10px;
  
}

header {
  display: flex;
  color: white;
  flex-flow: row;
  align-items: flex-start;
}

#header {
  align-self: flex-start;
}

h1 {
  position: relative;
  bottom: 100px;
}

span {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: flex-start;
  height: 15vh;
}

#profile {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#profile p {
  position: relative;
  right: 80px;
  color: white;
}

#logo {
  width: 10vw;
  height: 10vh;
}

h1 {
  align-self: center;
}

#header {
  display: flex;
  flex-direction: row;
  height: 40vh;
  width: 30vw;
}

#user-image {
  width: 5vw;
  height: 5vh;
  border-radius: 100%
}
 
#profile button{
  height: 5vh;
  width: 10vw;
  position: relative;
  right: 150px; 
}

ul {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

body {
  display: flex;
  flex-flow: wrap;
  background: #93073E
}

.favorite{
  border: solid black 2px;
  background-image:url('./assets/cool-sun.jpg');
  background-size: contain;
  background-color: #FFC400;
  color:black;
  background-blend-mode: soft-light;
}

.favorite, p {
  text-align: center;
  min-width: 20vw;
  opacity: 1;
  color: purple;
  font-weight: bold;
  font-size: 100%

}