li {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  background: plum;
  max-width: 45vw;
  max-height: 45vh;
  justify-content: space-between;
  margin: 10px;
  
}

header {
  display: flex;
  color: white;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

body {
  display: flex;
  flex-flow: wrap;
  background: black;
}

.favorite{
  border: solid black 2px;
  background-image:url('./assets/cool-sun.jpg');
  background-size: contain;
  color:black;
  background-blend-mode: soft-light;
}

.favorite, p {
  text-align: center;
  min-width: 20vw;
  opacity: 1;
  color: black;
  font-weight: bold;
  font-size: 110%

}